*.dSYM
*.dSYM.zip
*.hmap
*.ipa
.DS_Store
.build/
.swiftpm
Carthage/Build/
Config/LocalFeatures.xcconfig
DerivedData/
Package.pins
Package.resolved
Packages/
Worktrees/
build/
build/
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
lint*.json
!Scripts/lint-suppression-register.json
persistent_only.json
playground.xcworkspace
targeted.json
timeline.xctimeline
xcuserdata/
WHATSUP.md
.agents/
