<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_refineid-rly._tcp</string>
		<string>_refineid-rly._udp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>ReFineID connects Safari to the identity card held by your iPhone.</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>com.apple.ctk.class-id</key>
			<string>fi.refineid.ReFineID.token</string>
			<key>com.apple.ctk.driver-class</key>
			<string>ReFineIDTokenExtension.PersistentTokenDriver</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.ctk-tokens</string>
	</dict>
</dict>
</plist>
